Python 3.9.21
pyrogram==2.0.106
tgcrypto
redis
python-dotenv
requests
aiohttp
telethon
cryptg
pyaes
aiohttp
aiodns
aiohttp[speedups]
pillow
hachoir
requests
redis
FastTelethonhelper
humanreadable
pillow
